/*----------------------------------------------*/
/*인코딩 문자셋*/
@charset "UTF-8";


@font-face{
font-family:'NotoSansCJKkrBold';
src:url(../../fonts/NotoSansCJKkrBold.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../../fonts/NotoSansCJKkrBold.woff) format('woff');
}


/*각종 인터넷 브라우저에서 코드 작동이 가능하도록 하는 css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family:'NotoSansCJKkrBold';
	
}
html{
	font-family:'NotoSansCJKkrBold';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------*/
/*css 공통코드 작성부분*/
/* div전체 */

.border{
    border: 1px solid black; 
    position: absolute;
}


/*----------------------------------------------*/
/* 반응형 웹 부분 */
/*데스크톱, 태블릿, 모바일 세 개의 사이즈로 나눠집니다.*/ 
/*전체적인 틀은 변하지 않고 화면의 사이즈가 줄어들에 따라 콘텐츠의 배치만 달라집니다.*/

/*데스크톱*/
@media screen and (min-width:1024px){
    
    /*border 값*/
    .borderColor{
	border:2px solid #FF9B55;
	border-radius: 6px;
	}
	.borderRe{
	border-bottom: 2px solid #FF9B55;
	border-top:2px solid #FF9B55;
	border-right:2px solid #FF9B55;
	border-top-right-radius:6px;
	border-bottom-right-radius: 6px;
	}
	.borderLeft{
	border:2px solid #FF9B55;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	}
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;  
        height:2200px;
    }
    
    /*middle부분*/
    #middle{
    	position: absolute;
        width: 100%;
        height: 85%;
    }

    /*bottom*/
    #bottom{
        width: 100%;
        bottom:0px;
        position:absolute;
        height:110px;   
    }

    .contents{
    	position:static;
    	width:75%;
    	height:98%;
    	float:left;
    	margin: 0;
    	padding: 0;
    }
	.textSize{
		font-size:40px;
	}
    .imgBoxSize{
    	position:relative;
    	width:200px;
    	height:230px;
    	line-height:inherit;
    	vertical-align: middle;
    	margin:auto;
    	margin-top: 20%;
    }
    .imgUnderText{
   	 position:relative;
    	width:80%;
    	height:30%;
    	vertical-align: middle;
    	margin:auto;
    	text-align: center;
    	font-size:22px;
    	font-family:'NotoSansCJKkrBold';
    }
    .textMiddle{
    	display:flex;
    	align-items: center;
    	justify-content:center;
    }
    .imgSize{
    	position:inherit;
    	width:100%;
    	height:100%;
    	border-radius: 45%;
    	
    }
    .resume{
    	position:relative;
    	width:95%;
    	height: 30%;
    	text-align: center;
    	vertical-align: middle;
    	margin: auto;
    }
    .resumeDivL{
    	position:relative;
    	width:30%;
    	height:100%;
    	float:left;
    }
    .resumeDivR{
        position:relative;
    	width:70%;
    	height:100%;
    	float:left;

    }
    .resumeTextBox{
    	position:relative;
    	width:90%;
    	height:90%;
    	vertical-align: middle;
    	margin: auto;
    	top:3%;
    }
    .resumeTextTop{
    	position:relative;
    	width:100%;
    	height:30%;
    	top:10%;
		font-size:32px;    	
    	font-family:'NotoSansCJKkrBold';     	
    }
    .resumeTextMiddle{
    	position:relative;
    	width:100%;
    	height:15%;  
    	top:18%;  
		font-size:30px;    	
    	font-family:'NotoSansCJKkrBold'; 
    }
    .starBox{
    	position: relative;
    	padding: 0;
    	margin: 0;
    	float:left;
    }
    .starBoxFull{
    	position: relative;
    	width:600px;
    	height:60px;
    	padding: 0;
    	margin: 0;	
    	float:left;
    }
    .starBox>img{
    	width:60px;
    	height:60px;
    }
    .resumeTextButtom{
    	position:relative;
    	width:100%;
    	height:30%;  
    	top:10%; 
		font-size:28px;    	
    	font-family:'NotoSansCJKkrBold'; 
    }
/* 오른쪽 스크롤바 */ 
	.contents_2{
    	position:static;
    	width:25%;
    	float:left;
    	margin: 0;
    	padding: 0;
    	top:1%;
    }
    .infoBox{
    	position:inherit;
    	width:90%;
    	height:47%;
    	vertical-align: middle;
    	margin: auto;
    	top:1%;
    }
    .infoButtom{
    	position: relative;
    	width:90%;
    	height:7%;
    	vertical-align: middle;
    	margin: auto;
    }  
    .infoBox_1{
    	position: relative;
    	width:95%;
    	height:11%;  
    	vertical-align: middle;
    	margin: auto; 	
		font-family:'NotoSansCJKkrBold';      	
    }
    .infoBox_2{
    	position: relative;
    	width:95%;
    	height:11%;  
    	vertical-align: middle;
    	margin: auto; 
    	font-family:'NotoSansCJKkrBold';  	
    }
    .infoBox_3{
    	position: relative;
    	width:95%;
    	height:11%;  
    	vertical-align: middle;
    	margin: auto;  	
    	font-family:'NotoSansCJKkrBold';  
    }
    .infoBox_4{
    	position: relative;
    	width:95%;
    	height:11%;  
    	vertical-align: middle;
    	margin: auto;  	
    	font-family:'NotoSansCJKkrBold';  
    }
    .infoBox_5{
    	position: relative;
    	width:95%;
    	height:11%;  
    	vertical-align: middle;
    	margin: auto;	
    	font-family:'NotoSansCJKkrBold';  
    }
    .infoBox_6{
    	position: relative;
    	width:95%;
    	height:11%;   
    	vertical-align: middle;
    	margin: auto;	
    	font-family:'NotoSansCJKkrBold';  
    }
    .infoBox_7{
    	position: relative;
    	width:95%;
    	height:12%;  
    	vertical-align: middle;
    	margin: auto;	
    	font-family:'NotoSansCJKkrBold';  
    }
    .infoBoxFont{
    	font-size: 17px;
    	font-family:'NotoSansCJKkrBold';  
    }
    .submitB{
    	width:80%;
    	height:100%;
    	vertical-align: middle;
    	margin: auto;	
    	text-align:center;
		line-height: normal;
		background-color: #FF9B55;
    	border-radius: 5px 5px 5px 5px;
    }
    .submitBtn{	 
    	font-size: 24px;
    	color:white;   	
    	background-color: #FF9B55;
    	border:none;
		font-family:'NotoSansCJKkrBold'; 
    }
    .submitBtn{
    	vertical-align: middle;
    	margin: auto;	 
    	line-height: normal;
    	font-size: 20px;
    	color:white;   	
    }
    .infoButtomIconBox{
    	position: relative;
    	width:60%;
    	height:70%;
    	vertical-align: middle;
    	margin: auto; 
		top:15%;
    }
    .iconLeft{
    	position: inherit;
    	width:33%;
    	height:100%;   
    	float:left;
    }
    .iconImg{
    	position: inherit;
    	width:100%;
    	height:100%;     
    }
    .iconRight{
    	position: relative;
    	width:67%;
    	height:100%;  
    	float:left;	
    	font-family:'NotoSansCJKkrBold';     	
    }
    
	/*이력서 완벽하게 소개하는 부분*/
	.contents_3{
		width:100%;
		position: relative;
		vertical-align: middle;
    	margin: auto; 
	}
	.myInfo_1{
		width:100%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
		
	}
	.myInfo_2{
		width:100%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_3{
		width:100%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_4{
		width:100%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_5{
		width:100%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';		
	}
	.myInfoInner{
		width:100%;
		position:static;
		font-size: 20px;
		font-family:'NotoSansCJKkrBold';
	}
/*지도 부분*/
	.mapStyle{
		width:500px;
		height:400px;
		border: 2px solid #FF9B55;
		border-radius: 6px;
	}
	
}   

/* 위에 데스크탑이야!!!!!!!!!!!!!!*/















/*태블릿*/
@media screen and (min-width:640px) and (max-width:1024px){
    /*border 값*/
    .borderColor{
	border:2px solid #FF9B55;
	border-radius: 6px;
	}
	.borderRe{
	border-bottom: 2px solid #FF9B55;
	border-top:2px solid #FF9B55;
	border-right:2px solid #FF9B55;
	border-top-right-radius:6px;
	border-bottom-right-radius: 6px;
	}
	.borderLeft{
	border:2px solid #FF9B55;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	}
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:2500px;    
    }

    /*middle부분*/
    #middle{
        width: 100%;
        height: 80%;
        position:absolute;
        z-index:0;
    }
    .contents{
    	position:static;
    	width:70%;
    	height:98%;
    	float:left;
    	margin: 0;
    	padding: 0;
    }
    .contents_2{
    	position:static;
    	width:30%;
    	float:left;
    	margin: 0;
    	padding: 0;
    }
    .resume{
    	position:relative;
    	width:95%;
    	height: 20%;
    	text-align: center;
    	vertical-align: middle;
    	margin: auto;
    }
    /*bottom*/
    #bottom{
        width:100%;
        bottom:0px;
        position:absolute;
        height:110px; 
    }
    .imgBoxSize{
    	position:relative;
    	width:150px;
    	height:180px;
    	line-height:inherit;
    	vertical-align: middle;
    	margin:auto;
    	top:12%;
    }
    .imgUnderText{
   	 	position:relative;
    	width:140px;
    	height:30%;
    	vertical-align: middle;
    	font-size:28px;
    	margin:auto;
    	font-family:'NotoSansCJKkrBold';  	
    	top:13%;
    }
    .imgSize{
    	position:inherit;
    	width:100%;
    	height:100%;
    	border-radius:45%;
    }
    .resumeDivL{
    	position:relative;
    	width:35%;
    	height:100%;
    	float:left;
    	min-width:120px;
    }
    .resumeDivR{
        position:relative;
    	width:65%;
    	height:100%;
    	float:left;
    }
   	.textMiddle{
    	display:flex;
    	align-items: center;
    	justify-content:center;
    }
    .starBox{
    	position: relative;
    	padding: 0;
    	margin: 0;
    	float:left;
    	width:500px;
    	height:53px;
    }
    .starBoxFull{
    	position: relative;
    	width:400px;
    	height:44px;
    	padding: 0;
    	margin: 0;	
    	float:left;
    	top:80%;
    	bottom:0;
    }
    .starBox>img{
    	width:50px;
    	height:50px;
    }
    .resumeTextBox{
    	position:relative;
    	width:90%;
    	height:60%;
    	vertical-align: middle;
    	margin: auto;
    	top:3%;
    }
    .resumeTextTop{
    	position:relative;
    	width:100%;
    	height:20%;
    	margin-top:10%;
    	top:15%;
    	font-size:35px;
    	font-family:'NotoSansCJKkrBold';      	
    }
    .resumeTextMiddle{
    	position:relative;
    	width:100%;
    	height:20%;
    	top:30%;  
    	font-size:22px;
    	font-family:'NotoSansCJKkrBold';       	
    }
    .resumeTextButtom{
    	position:relative;
    	width:100%; 
    	height:20%;  
    	top:18%;	
    	font-size:20px;
    	font-family:'NotoSansCJKkrBold';   
    }
/* 오른쪽 스크롤바 */ 
    .infoBox{
    	position:inherit;
    	width:90%;
    	height:60%;
    	vertical-align: middle;
    	margin: auto;
    }
    .infoButtom{
    	position: relative;
    	width:90%;
    	height:7%;
    	vertical-align: middle;
    	margin: auto;
    }  
    .infoBox_1{
    	position: relative;
    	width:95%;
    	height:10%;  
    	vertical-align: middle;
    	margin: auto;
    	font-family:'NotoSansCJKkrBold';     		
    }
    .infoBox_2{
    	position: relative;
    	width:95%;
    	height:10%;  
    	vertical-align: middle;
    	margin: auto;
    	font-family:'NotoSansCJKkrBold';     	
    }
    .infoBox_3{
    	position: relative;
    	width:95%;
    	height:10%;  
    	vertical-align: middle;
    	margin: auto;
    	font-family:'NotoSansCJKkrBold';     		
    }
    .infoBox_4{
    	position: relative;
    	width:95%;
    	height:10%;  
    	vertical-align: middle;
    	margin: auto;
    	font-family:'NotoSansCJKkrBold';     	
    }
    .infoBox_5{
    	position: relative;
    	width:95%;
    	height:10%;  
    	vertical-align: middle;
    	margin: auto; 	
    }
    .infoBox_6{
    	position: relative;
    	width:95%;
    	height:10%;   
    	vertical-align: middle;
    	margin: auto;
    }
    .infoBox_7{
    	position: relative;
    	width:95%;
    	height:12%;  
    	vertical-align: middle;
    	margin: auto;
    }
    .submitB{
    	width:80%;
    	height:100%;
    	vertical-align: middle;
    	margin: auto;	
    	text-align:center;
		line-height: normal;
    	background-color: #FF9B55;
    	border-radius: 5px 5px 5px 5px;
    }
    .submitBtn{	 
    	font-size: 20px;
    	color:white;   	
		background-color: #FF9B55;
    	border:none;
		font-family:'NotoSansCJKkrBold'; 
    }
    .infoButtomIconBox{
    	position: relative;
    	width:60%;
    	height:70%;
    	vertical-align: middle;
    	margin: auto;
		top:15%;
    }
    .iconLeft{
    	position: relative;
    	width:33%;
    	height:100%;   
    	float:left;
    }
    .iconImg{
    	position: inherit;
    	width:100%;
    	height:100%;     
    }
    .iconRight{
    	position: relative;
    	width:67%;
    	height:100%;  
    	float:left;	
    	font-family:'NotoSansCJKkrBold';     	
    } 
	/*이력서 완벽하게 소개하는 부분*/
	.contents_3{
		width:95%;
		position: relative;
		vertical-align: middle;
    	margin: auto; 
	}
	.myInfo_1{
		width:90%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_2{
		width:90%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_3{
		width:90%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_4{
		width:90%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_5{
		width:90%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';		
	}
	.myInfoInner{
		width:90%;
		position:static;
		font-size: 20px;
		font-family:'NotoSansCJKkrBold';
	}  
	/*지도 부분*/
	.mapStyle{
		width:350px;
		height:250px;
		border: 2px solid #FF9B55;
		border-radius: 6px;
	}	
	   
}


/* 위에 테블릿이야!!!!!!!!!!!!!!*/













/*모바일*/
@media screen and (max-width:640px){

    /*border 값*/
    .borderColor{
	border:2px solid #FF9B55;
	border-radius: 6px;
	}
	.borderRe{
	border:2px solid #FF9B55;
	border-radius: 6px;
	}
	.borderLeft{
	border:2px solid #FF9B55;
	border-radius: 6px;
	}	
	
    /*div전체*/

    #wrapper{
        position: relative;
        width:100%; 
        height:2300px;  
    }
    

    /*middle부분*/
    #middle{
    	position:relative;
        width: 100%;
        height: 70%;      
    }
 
    /*bottom*/
    #bottom{
        width: 100%;
        bottom:0;
        position:relative;
        height:110px; 
    }
    
   	.contents{
    	position: relative;
    	width:100%;
    	height:20%;
    	float:left;
    	margin: 0;
    	padding: 0;
	
    }
    .contents_2{
    	position:relative;
    	width:90%;
    	height:30%;
    	float:left;
    	margin: 0;
    	padding: 0;
      	top:40%;
    	vertical-align: middle;
    	margin: auto;  
    	left: 5%;     	
    }
    .imgBoxSize{
    	position:relative;
    	width:130px;
    	height:150px;
    	line-height:inherit;
    	vertical-align: middle;
    	margin:auto;
    	margin-top:2%;
    	
    }
    .imgUnderText{
   	 	position:relative;
    	width:140px;
    	height:10%;
    	vertical-align: middle;
    	font-size:20px;
    	margin:auto;
    	font-family:'NotoSansCJKkrBold';  	
    }
    .resume{
    	position:relative;
    	width:95%;
    	height: 50%;
    	text-align: center;
    	vertical-align: middle;
    	margin: auto;
    	top:2%;
    }
    .resumeDiv{
    	position:relative;
    	width:50%;
    	height:50%;
    }
    .imgUnderText{
   	 position:relative;
    	width:80%;
    	height:20%;
    	vertical-align: middle;
    	margin:auto;
    	text-align: center;
    	font-size:20px;
    	font-family:'NotoSansCJKkrBold';
    }
    .textMiddle{
    	display:flex;
    	align-items: center;
    	justify-content:center;
    	font-size: 15px;
    }
    .imgSize{
    	position:inherit;
    	width:100%;
    	height:100%;
    	border-radius: 45%;
    }
    .resume{
    	position:relative;
    	width:95%;
    	height:95%;
    	text-align: center;
    	vertical-align: middle;
    	margin: auto;
    	top:2%;
    }
    .resumeDivL{
    	position:relative;
    	width:50%;
    	height:60%;
    	text-align: center;
    	vertical-align: middle;
    	margin: auto;	
    }
    .resumeDivR{
        position:relative;
    	width:80%;
    	height:40%;
    	vertical-align: middle;
    	margin: auto;

    }
    .resumeTextBox{
    	position:relative;
    	width:90%;
    	height:90%;
    	vertical-align: middle;
    	margin: auto;
    	top:1%;  
  	
    }
    .resumeTextTop{
    	position:relative;
    	width:100%;
    	height:40%;
    	font-size:22px;
    	top:1%;
    	font-family:'NotoSansCJKkrBold';    	    	
    }
    .starBox{
    	position: relative;
    	padding: 0;
    	margin: 0;
    	float:left;
    	width:300px;
    	height:33px;
    }
    .starBoxFull{
    	position: relative;
    	width:300px;
    	height:34px;
    	padding: 0;
    	margin: 0;	
    	float:left;
    	top:10%;
    	bottom:0;
    }
    .starBox>img{
    	width:30px;
    	height:30px;
    }
    .resumeTextMiddle{
    	position:relative;
    	width:100%;
    	height:15%;
    	top:4%;  
    	font-size:20px;
    	font-family:'NotoSansCJKkrBold';    	    	
    }
    .resumeTextButtom{
    	position:relative;
    	width:100%;
    	height:30%;   
    	top:16%;	
    	font-size:18px;
    	font-family:'NotoSansCJKkrBold';    	    	
    }

/* 오른쪽 스크롤바 */ 
    .infoBox{
    	position:relative;
    	width:100%;
    	height:70%;
    	vertical-align: middle;
    	margin: auto;  	

    }
    .infoButtom{
    	position: relative;
    	width:50%;
    	height:13%;
    	vertical-align: middle;
    	margin: auto;
    }  
    .infoBox_1{
    	position: relative;
    	width:95%;
    	height:7%;  
    	vertical-align: middle;
    	margin: auto; 	
    	font-family:'NotoSansCJKkrBold';      	
    }
    .infoBox_2{
    	position: relative;
    	width:95%;
    	height:7%;  
    	vertical-align: middle;
    	margin: auto;	
    	font-family:'NotoSansCJKkrBold';      	
    }
    .infoBox_3{
    	position: relative;
    	width:95%;
    	height:7%;  
    	vertical-align: middle;
    	margin: auto; 	
    	font-family:'NotoSansCJKkrBold';      	
    }
    .infoBox_4{
    	position: relative;
    	width:95%;
    	height:7%;  
    	vertical-align: middle;
    	margin: auto; 	
    }
    .infoBox_5{
    	position: relative;
    	width:95%;
    	height:7%;  
    	vertical-align: middle;
    	margin: auto;	
    }
    .infoBox_6{
    	position: relative;
    	width:95%;
    	height:7%;   
    	vertical-align: middle;
    	margin: auto;	
    }
    .infoBox_7{
    	position: relative;
    	width:95%;
    	height:8%;  
    	vertical-align: middle;
    	margin: auto;  	
    	font-family:'NotoSansCJKkrBold';      
    }
    .submitB{
    	width:70%;
    	height:100%;
    	vertical-align: middle;
    	margin: auto;	
    	text-align:center;
		line-height: normal;
    	background-color: #FF9B55;
    	border-radius: 5px 5px 5px 5px;
    }
    .submitBtn{	 
    	font-size: 15px;
    	color:white;   	
		background-color: #FF9B55;
    	border:none;
		font-family:'NotoSansCJKkrBold'; 
    }    
    .infoButtomIconBox{
    	position: relative;
    	width:70%;
    	height:80%;
    	vertical-align: middle;
    	margin: auto;  
		top:10%;
    }
    .iconLeft{
    	position: relative;
    	width:33%;
    	height:100%;   
    	float:left;
    }
    .iconImg{
    	position: inherit;
    	width:100%;
    	height:100%;     
    }
    .iconRight{
    	position: relative;
    	width:67%;
    	height:100%;  
    	float:left;
    	font-family:'NotoSansCJKkrBold';     	
    }
    
	/*이력서 완벽하게 소개하는 부분*/
	.contents_3{
		width:90%;
		position: relative;
    	vertical-align: middle;
    	margin: auto; 		
		
	}
	.myInfo_1{
		width:90%;
		position:relative;
		font-size: 25px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_2{
		width:90%;
		position:relative;
		font-size: 25px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_3{
		width:90%;
		position:relative;
		font-size: 25px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_4{
		width:90%;
		position:relative;
		font-size: 25px;
		font-family:'NotoSansCJKkrBold';
	}
	.myInfo_5{
		width:90%;
		position:relative;
		font-size: 30px;
		font-family:'NotoSansCJKkrBold';		
	}
	.myInfoInner{
		width:90%;
		position:static;
		font-size: 15px;
		font-family:'NotoSansCJKkrBold';
	}           
	/*지도 부분*/
	.mapStyle{
		width:250px;
		height:150px;
		border: 2px solid #FF9B55;
		border-radius: 6px;
	}
}


    
    
    