*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    border: 0px;
}
/*----------------------------------------------*/
/*인코딩 문자셋*/
@charset "UTF-8";

/*새롭게 적용할 NotoSans-Bold*/
@font-face{
font-family:'NotoSansCJKkrBold';
src:url(../../fonts/NotoSansCJKkrBold.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../../fonts/NotoSansCJKkrBold.woff) format('woff');
}

/*각종 인터넷 브라우저에서 코드 작동이 가능하도록 하는 css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------*/
/*css 공통코드 작성부분*/
/* div전체 */
div{
    box-sizing: border-box;
    margin: 0;
}

.scrollStyle::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    border: 3px solid #fff; 
}

.scrollStyle::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    border: 3px solid #fff; 
}

.scrollStyle::-webkit-scrollbar-button:start:decrement, 
.scrollStyle::-webkit-scrollbar-button:end:increment .scrollStyle{
    display: block; 
    height: 10px; 
    background: #efefef;
}

.scrollStyle::-webkit-scrollbar-track {
    background: #efefef; 
    }

.scrollStyle::-webkit-scrollbar-thumb {
    height: 50px; 
    width: 50px; 
    background: #FF9B55; 
}


/*----------------------------------------------*/
/* 반응형 웹 부분 */
/*데스크톱, 태블릿, 모바일 세 개의 사이즈로 나눠집니다.*/ 
/*전체적인 틀은 변하지 않고 화면의 사이즈가 줄어들에 따라 콘텐츠의 배치만 달라집니다.*/

/*데스크톱*/
@media screen and (min-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:100%;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height:30%;
    }
    
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 65%;
    }
    
    #submy {
    	width:100%;
    	height: 35%;
    	background:#3c3e3a;
    	overflow:hidden; 
    	text-align:center;
    	padding:0;
    	margin-top:50px;
    }
    
    #area01{
    	width: 70%;
    	height: 100%;
    	margin: auto;
    }
    
    #sec01{
        float: left;
        width: 33%;
        height: 100%;
    }
    
    #sec01 .box{
    	width:100%;
        height: 100%;
    }
    
    #img01{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #img01 img{
    	width:90%;
    	height:80%;
    	margin:auto;
    	margin-top: 12%;
    	overflow:hidden;
    	align:top;
    }
    
    #nextImg{
    	width:50%;
    	height:100%;
    	float:left;
    }
    
    #p1{
    	width:100%;
    	height:25%;
        font-size: 20px;
        text-align: left;
        vertical-align: middle;
        margin-top: 40px;
        color:#FF9B55;
    }
    
    #p3{ 
        width:100%;
    	height:25%;
    	float:left;
    	text-align:left;
    	text-indent:10px;     
    }
    
    #p3 a{
    	border: 1px solid grey;
    	text-align:right;
    	line-height: 50px;
    }
    
     #p5{ 
        width:100%;
    	height:25%;
    	text-align:left;
    	text-indent:10px;    
    }
    
    #p5 a{
    	border: 1px solid grey;
    	text-align:center;
    }
    
    
    #sec02{   
    	float: left;      
    	width: 33%;      
    	height: 100%;   
    	
    }
    
    #sec02 .box{
    	width: 90%;
    	height:40%;
    	margin:auto;
    	margin-top: 50px;
    }
    
    .box1, .box2, .box3{
    	width:32%;
    	height:100%;
    	float:left;
    }
    
    #sec03{
    	width: 33%;
    	height: 100%;
    	float:left;
    	text-indent: 30px;
    }
    
    #sec03 .box{
    	width:90%;
    	height: 50%;
    	margin:auto;
    	margin-top: 60px;
    }
    
    #sec03 .box1{
    	width:100%;
    	height:33%;
    	text-align:left;
    }
    
     #sec03 .box2{
    	width:100%;
    	height:33%;
    	text-align:left;
    }
    
	#sec03 .box3{
    	width:100%;
    	height:33%;
    	text-align:left;
    }
    
    #area02{
    	width:100%;
    	height: 65%;
    }
	
	#chooseBox{
		width:70%;
		height:120%;
		margin:auto;
		margin-top: 70px;
	}
	
	#chooseBox p{
		text-align:center;
		margin-top:10px;
	}
	
	
	#contentsBox{
		width:100%;
		height:100%;
	}
	
	#trainerSpace{
    	width: 100%;
    	height: 80%;
    	overflow-x:hidden;
    	overflow-y:scroll;
    	
	}
	
	#tblMember{
		width:100%;
		height:100%;
	}
	
	#titleSpace{
	    width: 100%;
	    height: 10%;
	    text-align: center;
	    line-height: 2.5;
	    background-color: #FF9B55;
	}
	
	#trainerSpaceSubTitle{
	    text-align: center;
	    border-bottom: 3px solid #FF9B55;
	    font-weight:bold;
	    width:100%;
	    height:30px;
	    line-height:30px;
	}

	#trainerBtnSpace{
		margin-top: 5px;
	    width: 100%;
	    height: 10%;
	    
	}
	
	.line{
		width:100%;
		height:50px;
		text-align: center;
    	border-bottom: 2px solid #FF9B55;
	}
	
	.line td{
		vertical-align:middle;
		margin-top:10px;
		margin-bottom:10px;
	}
	
	.myButton{
		width: 80px;
		height:30px;
		background-color: #FF9B55;
		border-radius:6px 6px 6px 6px;
	}
	
	.myCheck{
		width:20px;
		height:20px;
	}
    
/*    bottom*/
    #bottom{
        width: 100%;
        height: 5%;
    }

}

/*태블릿*/
@media screen and (min-width:640px) and (max-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:1000px;    
    }
    
    #logo{
        text-align: right;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 15px;
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 10%;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchInput{
        width: 70%;
        height: 40px;
        margin-top: 25px;
        margin-left: 10px;
        border: 1.5px solid #FF9B55;
        border-radius: 20px;
        text-indent: 10px;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 80%;
    }
    
    #searchBox{
        width: 100%;
        height: 30%;
    }
    
    #contents{
        width: 100%;
        height: 70%;
    }
    
    #realSearchBox{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 1%;
    }
    
    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    #searchName{
        width: 100%;
        height: 20%;
    }
    
    #searchName>div{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #selectMenu{
        width: 100%;
        height: 80%;
    }
    
    #area, #field{
        width: 25%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    
    #subArea, #subField{
        width: 25%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    
    .trainerBox{
        width: 47.5%;
        height: 47.5%;
        border: 2px solid #3c3e3a;
        float: left;
    }
    
    .blank{
        width: 5%;
        height: 47.5%;
        float: left;
    }
    

    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
    
}

/*모바일*/
@media screen and (max-width:640px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height: 1200px;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 25%;
    }
    
    #logo{
        text-align: center;
        width: 100%;
        height: 65%;
        overflow: hidden;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 20px;
    }
    
    #mobileMenu{
        width: 100%;
        height: 15%;
    }
    
    #searchBar{
        width: 100%;
        height: 20%;
    }
    
    #menu{
        display: none;
    }
    
    #searchInput{
        width: 70%;
        height: 70%;
        margin-left: 15%;
        border: 1.5px solid #FF9B55;
        border-radius: 20px;
        text-align: center;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 65%;
    }
    
    #searchBox{
        width: 100%;
        height: 30%;
    }
    
    #contents{
        width: 100%;
        height: 70%;
    }
    
    #realSearchBox{
        width: 90%;
        height: 90%;
        margin: auto;
        margin-top: 3%;
    }
    
    #realContents{
        width: 90%;
        height: 95%;
        margin: auto;
        margin-top: 3%;
    }
    
    #searchName{
        width: 100%;
        height: 20%;
    }
    
    #searchName>div:nth-child(2n+1){
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #searchName>div:nth-child(2n){
        display: none;
    }
    
    #selectMenu{
        width: 100%;
        height: 80%;
    }
    
    #area, #field{
        width: 50%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    
    #subArea, #subField{
        display: none;
    }
    
    .trainerBox{
        width: 100%;
        height: 47.5%;
        border: 2px solid #3c3e3a;
    }
    
    .blank{
        width: 100%;
        height: 5%;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
