/*----------------------------------------------*/
/*인코딩 문자셋*/
@charset "UTF-8";


/*새롭게 적용할 NotoSans-Bold*/
@font-face{
font-family:'NotoSansCJKkrBold';
src:url(../../fonts/NotoSansCJKkrBold.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../../fonts/NotoSansCJKkrBold.woff) format('woff');
}


/*각종 인터넷 브라우저에서 코드 작동이 가능하도록 하는 css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd,  fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: 'NotoSansCJKkrBold';
}
html{
    font-family: 'NotoSansCJKkrBold';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}

blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*----------------------------------------------*/
/*css 공통코드 작성부분*/
/* div전체 */
div{
    
    line-height: 150%;
    box-sizing: border-box;
    margin: 0;
   /*  border : 0.1px solid black; */
   
}
#titleSpace{
    width: 100%;
    height: 8%;
    text-align-last: center;
    line-height: 2;
    /* background-color: #FF9B55; */
}
#title{
    font-size: 25px;
    font-weight: bold;
}
#trainerSpace{
    width: 100%;
    height: 84%;
}
#trainerBtnSpace{
    width: 100%;
    height: 8%;
}
table{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
tr{
    vertical-align: center;
    text-align: center;
    
}
td{
    /*border: 1px solid black;*/
    height: 20px;
    vertical-align: middle;
}
img{
    display : inline;
    width: 100px;
    height: 100px;
}
.line{
    /* border-bottom: 2px solid #FF9B55; */
}
#trainerSpaceSubTitle{
    text-align-last: center;
    /* border-bottom: 3px solid #FF9D30; */
    font-weight:bold;
}
/*라인에 색깔주려함*/
.linecolor{
    width: 100%;
    height:100%;
    display: inline-block;
    margin:auto;
    text-align: center;
   /*  border: 1px solid #FF9B55; */
}

#total_sport_tag{
    /*아래 친구들을 감싸주는 얘한테 안넘치는 값을 줘야됨*/
    /*즉, ul안의 li 등등의 친구들을 left를 줄때 감싸주는 얘한테 overflow를 막아놔야 안넘침*/
    overflow: hidden;
}
#categoryline{
    float:left;
    /* p태그"해당카테고리의~" 부분임*/
}
.sport_tag{
    float:left;
}

/*----------------------------------------------*/
/* 반응형 웹 부분 */
/*데스크톱, 태블릿, 모바일 세 개의 사이즈로 나눠집니다.*/ 
/*전체적인 틀은 변하지 않고 화면의 사이즈가 줄어들에 따라 콘텐츠의 배치만 달라집니다.*/

/*데스크톱*/
@media screen and (min-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:auto;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 100px;
    }
    
    #logo{
        text-align: center;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 15px;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchInput{
        width: 70%;
        height: 40px;
        margin-top: 25px;
        margin-left: 10px;
       /*  border: 1.5px solid #FF9B55; */
        border-radius: 20px;
        text-indent: 10px;
    }
    
     
    /*middle부분*/
     #middle{
        width: 100%;
        height: 80%;
    }
        
    #contents{
        width: 100%;
        height:90%;
    }

    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    #picture_cover{
        
        display:inline-block;
        width:25%;
        float:left;
      
    }
    #ex_image{
        display:inline-block;
        width:55%;
        float:left;
        
    }
    
    /*bottom*/
    #bottom{
        width: 80%;
        height: 10%;
    }
    
    /* ------------추가 ----------- */
    
    #searchBar {
      font-size: 300%;
      color:#147fe2;
    }
    
    .li {
     list-style-type: none;
     text-align:left;

    }
    
    li {
     list-style-type: none;
    }
    
    .firstItem {
      font-size:150%;
      color:white;
      background-color:#FF9B55;
      padding:0.6%;
      border-radius:10px;
    }
    
    #profileFile {
       font-family:NotoSansCJKkrBold;
       background-color:white;
        color:#9b9795;
        font-size:100%;
        cursor:pointer;
        width:100%;
        border: 2px solid #147fe2;

    }
    
    #prove {
       font-family:NotoSansCJKkrBold;
       background-color:white;
        color:#9b9795;
        font-size:90%;
        cursor:pointer;
        width:30%;
        border: 3px solid #f9c5a2;
    }
    
    .addr {
        border: 3px solid #f9c5a2;
    }
    
    .border {
         border: 3px solid #f9c5a2;
    }

    #fileletter {
       background-color:#fce1cf;
    }
  
/*--------------------  */ 

.checks {position: relative;}
.checks input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}
.checks input[type="radio"] + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.checks input[type="radio"] + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -4px;
  width: 21px;
  height: 21px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 100%;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
.checks input[type="radio"] + label:active:before,
.checks input[type="radio"]:checked + label:active:before  {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.checks input[type="radio"]:checked + label:before {
  background: #E9ECEE;
  border-color: #adb8c0;
}
.checks input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 5px;
  width: 13px;
  height: 13px;
  background: #FF9B55;
  border-radius: 100%;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
}

 .input_txt01 {
  border: 3px solid #f9c5a2;
}
  #certificate {
    font-family:NotoSansCJKkrBold;
    background-color:white;
    color:#9b9795;
    font-size:90%;
    cursor:pointer;
    width:20%;
    border: 3px solid #147fe2;
  }

  #career {
    font-family:NotoSansCJKkrBold;
    background-color:white;
    color:#9b9795;
    font-size:90%;
    cursor:pointer;
    width:20%;
    border: 3px solid #147fe2;
  }
  
  .careerCompany {
    border: 3px solid #f9c5a2;
    
    }
   
    
   .form-control{
     border: 3px solid #f9c5a2;
     width:30%;
   }
    
   input[type=text] {
      border: 3px solid #f9c5a2;
      width:30%;
   }
    
    input[type=date] {
      border: 3px solid #f9c5a2; 
    } 
   
   .form-control2 {
     border: 3px solid #f9c5a2;
   
   }
  
   #final_submit {
     width: 30%;
     height:20%;
     font-size:200%;

   }
   










}

/*태블릿*/
@media screen and (min-width:640px) and (max-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:auto;    
    }
    
    #logo{
        text-align: center;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 15px;
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 100px;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchInput{
        width: 70%;
        height: 40px;
        margin-top: 25px;
        margin-left: 10px;
        border: 1.5px solid #FF9B55;
        border-radius: 20px;
        text-indent: 10px;
    }
    
    /*middle부분*/
     #middle{
        width: 100%;
        height: 80%;
    }
      
    #contents{
        width: 100%;
        height:90%;
    }

    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    #picture_cover{
        display:inline-block;
    }

    #ex_image{
        display:inline-block;
    }

    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
    
}

/*모바일*/
@media screen and (max-width:640px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height: auto;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 25%;
    }
    
    #logo{
        text-align: center;
        width: 100%;
        height: 65%;
        overflow: hidden;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 20px;
    }
    
    #mobileMenu{
        width: 100%;
        height: 15%;
    }
    
    #searchBar{
        width: 100%;
        height: 20%;
    }
    
    #menu{
        display: none;
    }
    
    #searchInput{
        width: 70%;
        height: 70%;
        margin-left: 15%;
        border: 1.5px solid #FF9B55;
        border-radius: 20px;
        text-align: center;
    }
      
    /*middle부분*/
     #middle{
        width: 100%;
        height: 80%;
    }
    
    #contents{
        width: 100%;
        height:90%;
    }

    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    #picture_cover{
        display:inline-block;
    }
    #ex_image{
        display:inline-block;
    }

    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
}