/*----------------------------------------------*/
/*인코딩 문자셋*/
@charset "UTF-8";


/*새롭게 적용할 NotoSans-Bold*/
@font-face{
font-family:'NotoSansCJKkrBold';
src:url(../../fonts/NotoSansCJKkrBold.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../../fonts/NotoSansCJKkrBold.woff) format('woff');
}



/*각종 인터넷 브라우저에서 코드 작동이 가능하도록 하는 css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd,  fieldset, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
   font-family: 'NotoSansCJKkrBold';
}
html{
    font-family: 'NotoSansCJKkrBold';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}

blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}

/*----------------------------------------------*/
/*css 공통코드 작성부분*/
/* div전체 */
div{
    /*border: 1px solid #FF9B55;*/
    /*border: 1px solid black;*/
    line-height: 150%;
    box-sizing: border-box;
    margin: 0;
   
}
#titleSpace{
    width: 100%;
    height: 8%;
    text-align-last: center;
    line-height: 2;
    background-color: #FF9B55;
}
#title{
    font-size: 25px;
    font-weight: bold;
}
#trainerSpace{
    width: 100%;
    height: 84%;
}
#trainerBtnSpace{
    width: 100%;
    height: 8%;
}
table{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
tr{
    vertical-align: center;
    text-align: center;
    
}
td{
    /*border: 1px solid black;*/
    height: 20px;
    vertical-align: middle;
}
img{
    display : inline;
    width: 100px;
    height: 100px;
}
.line{
    border-bottom: 2px solid #FF9B55;
}
#trainerSpaceSubTitle{
    text-align-last: center;
    border-bottom: 3px solid #FF9D30;
    font-weight:bold;
}
/*라인에 색깔주려함*/
.linecolor{
    width: 100%;
    display: inline-block;
    margin:auto;
    text-align: center;
    border: 1px solid #FF9B55;
}

#total_sport_tag{
    /*아래 친구들을 감싸주는 얘한테 안넘치는 값을 줘야됨*/
    /*즉, ul안의 li 등등의 친구들을 left를 줄때 감싸주는 얘한테 overflow를 막아놔야 안넘침*/
    overflow: hidden;
}
#categoryline{
    float:left;
    /* p태그"해당카테고리의~" 부분임*/
}
.sport_tag{
    float:left;
}

/*----------------------------------------------*/
/* 반응형 웹 부분 */
/*데스크톱, 태블릿, 모바일 세 개의 사이즈로 나눠집니다.*/ 
/*전체적인 틀은 변하지 않고 화면의 사이즈가 줄어들에 따라 콘텐츠의 배치만 달라집니다.*/

/*데스크톱*/
@media screen and (min-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:auto;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 100px;
    }
    
    #logo{
        text-align: center;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 15px;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchInput{
        width: 70%;
        height: 40px;
        margin-top: 25px;
        margin-left: 10px;
        border: 1.5px solid #FF9B55;
        border-radius: 20px;
        text-indent: 10px;
    }
    
     
    /*middle부분*/
     #middle{
        width: 100%;
        height: 80%;
    }
        
    #contents{
        width: 100%;
        height:90%;
    }

    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    #picture_cover{
        line-height: 120%;
        display:inline-block;
    }
    #ex_image{
        display:inline-block;
    }
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }

}

/*태블릿*/
@media screen and (min-width:640px) and (max-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:auto;    
    }
    
    #logo{
        text-align: center;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 15px;
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 100px;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchInput{
        width: 70%;
        height: 40px;
        margin-top: 25px;
        margin-left: 10px;
        border: 1.5px solid #FF9B55;
        border-radius: 20px;
        text-indent: 10px;
    }
    
    /*middle부분*/
     #middle{
        width: 100%;
        height: 80%;
    }
      
    #contents{
        width: 100%;
        height:90%;
    }

    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    #picture_cover{
        display:inline-block;
    }

    #ex_image{
        display:inline-block;
    }

    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
    
}

/*모바일*/
@media screen and (max-width:640px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height: auto;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 25%;
    }
    
    #logo{
        text-align: center;
        width: 100%;
        height: 65%;
        overflow: hidden;
    }
    
    #logo>img{
        height: 99%;
        margin-top: 20px;
    }
    
    #mobileMenu{
        width: 100%;
        height: 15%;
    }
    
    #searchBar{
        width: 100%;
        height: 20%;
    }
    
    #menu{
        display: none;
    }
    
    #searchInput{
        width: 70%;
        height: 70%;
        margin-left: 15%;
        border: 1.5px solid #FF9B55;
        border-radius: 20px;
        text-align: center;
    }
      
    /*middle부분*/
     #middle{
        width: 100%;
        height: 80%;
    }
    
    #contents{
        width: 100%;
        height:90%;
    }

    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    #picture_cover{
        display:inline-block;
    }
    #ex_image{
        display:inline-block;
    }

    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
}