/*----------------------------------------------*/
/*인코딩 문자셋*/
@charset "UTF-8";

@font-face{
font-family:'NotoSans';
src:url(../../fonts/NotoSans-Bold.eot);/*익스플로러*/
src:url(../../fonts/NotoSans-Bold.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../../fonts/NotoSans-Bold.woff) format('woff');
}

/*각종 인터넷 브라우저에서 코드 작동이 가능하도록 하는 css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------*/
/*css 공통코드 작성부분*/
/* div전체 */

html{
    font-family: 'NotoSans';
}

div{
    box-sizing: border-box;
    margin: 0;
}

#searchBox{
	border: 1px solid #3c3e3a;
    background-color: #3c3e3a;
}

#realSearchBox{
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #FF9B55;
    line-height: 35px;
    text-indent: 0.5em;
    border-radius: 6px;
}

#area, #subArea, #field, #subField, #searchName>div{
    border: 1px solid #FF9B55;
}

#searchName{
    border-radius: 6px 0 0 6px;
}

#subField{
    border-radius: 6px 0 0 6px;
}

li{
    width: 100%;
    height: 35px;
    overflow: hidden;
   
}

li:hover{
    background-color: #FF9B55;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.scrollStyle::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    border: 3px solid #fff; 
}

.scrollStyle::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
    border: 3px solid #fff; 
}

.scrollStyle::-webkit-scrollbar-button:start:decrement, 
.scrollStyle::-webkit-scrollbar-button:end:increment .scrollStyle{
    display: block; 
    height: 10px; 
    background: #efefef;
}

.scrollStyle::-webkit-scrollbar-track {
    background: #efefef; 
    }

.scrollStyle::-webkit-scrollbar-thumb {
    height: 50px; 
    width: 50px; 
    background: #FF9B55; 
}


li, p, #logo>img, button{
	cursor: pointer;
}

#navigation-login{
	border-radius : 6px 6px 6px 6px;
	margin-top: 20px;
	margin-left: 10px;
	width:90%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background: #FF9B55;
}

a{
	width: 100%;
	height: 100%;
}

input:focus{
	outline: none;
	box-shadow: none;
}

#ment img{
	border-radius: 6px 6px 6px 6px;
}

/*----------------------------------------------*/
/* 반응형 웹 부분 */
/*데스크톱, 태블릿, 모바일 세 개의 사이즈로 나눠집니다.*/ 
/*전체적인 틀은 변하지 않고 화면의 사이즈가 줄어들에 따라 콘텐츠의 배치만 달라집니다.*/

/*데스크톱*/
@media screen and (min-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:1500px;    
    }
    
    /*top*/
    #top{
        width: 100%;
        height: 7%;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 85%;
    }
    
    #searchBox{
        width: 100%;
        height: 25%;
    }
    
    #searchName{
        line-height: 50px;
    }
    
    #contents{
        width: 100%;
        height: 75%;
    }
    
    #realSearchBox{
        width: 60%;
        height: 70%;
        margin: auto;
        margin-top: 1%;
    }
    
    #submitButton{
    	width: 60%;
    	height: 30%;
    	margin: auto; 
    	text-align: center;
    }
    
    #submitButton button{
    	margin-top: 8px;
    	outline: none;
    	border: 0;
    	background: none;
    	border-radius: 6px 6px 6px 6px;
    	width: 20%;
    	height: 60%;
    	font-size: 30px;
    	color: #FF9B55;
    }
    
    #ment{
    	width: 60%;
    	height: 80%;
    	margin: auto;
    	margin-top: 60px;
    }
    
    #realContents{
        width: 60%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    #searchName{
        width: 100%;
        height: 20%;
    }
    
    #searchName>div{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    
    #selectMenu{
        width: 100%;
        height: 80%;
    }
    
    #mobileFieldSearchName{
    	display:none;
    }
    
    #area, #field{
        width: 25%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    
    #subArea, #subArea2{
        width: 25%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    
    .trainerBox{
        width: 30%;
        height: 45%;
        border: 2px solid #3c3e3a;
        float: left;
        border-radius: 6px;
    }
    
    .blank{
        width: 3%;
        height: 45%;
        float: left;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 8%;
    }

}

/*태블릿*/
@media screen and (min-width:640px) and (max-width:1024px){
    
    /*top부분*/
    #top{
        width: 100%;
        height: 10%;
    }
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:1000px;    
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 80%;
    }
    
    #searchBox{
        width: 100%;
        height: 30%;
    }
    
    #contents{
        width: 100%;
        height: 70%;
    }
    
    #realSearchBox{
        width: 80%;
        height: 70%;
        margin: auto;
        margin-top: 1%;
    }
    
    #submitButton{
    	width: 80%;
    	height: 30%;
    	margin: auto; 
    	text-align: center;
    }
    
    #submitButton button{
    	margin-top: 8px;
    	outline: none;
    	border: 0;
    	background: none;
    	border-radius: 6px 6px 6px 6px;
    	width: 20%;
    	height: 60%;
    	font-size: 25px;
    	color: #FF9B55;
    }
    
    #ment{
    	width: 70%;
    	height: 80%;
    	margin: auto;
    	margin-top: 60px;
    }
    
    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    #searchName{
        width: 100%;
        height: 20%;
    }
    
    #searchName>div{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #selectMenu{
        width: 100%;
        height: 80%;
    }
    
    #mobileFieldSearchName{
    	display:none;
    }
    
    #area, #field{
        width: 25%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    
    #subArea, #subArea2{
        width: 25%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }
    
    .trainerBox{
        width: 47.5%;
        height: 47.5%;
        border: 2px solid #3c3e3a;
        float: left;
        border-radius: 6px;
    }
    
    .blank{
        width: 5%;
        height: 47.5%;
        float: left;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
    
}

/*모바일*/
@media screen and (max-width:640px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height: 1000px;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 30%;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 60%;
    }
    
    #searchBox{
        width: 100%;
        height: 45%;
    }
    
    #contents{
        width: 100%;
        height: 55%;
    }
    
    #realSearchBox{
        width: 90%;
        height: 80%;
        margin: auto;
        margin-top: 3%;
    }
    
    #submitButton{
    	width: 60%;
    	height: 20%;
    	margin: auto; 
    	text-align: center;
    }
    
    #submitButton button{
    	margin-top: 8px;
    	outline: none;
    	border: 0;
    	background: none;
    	border-radius: 6px 6px 6px 6px;
    	width: 70%;
    	height: 60%;
    	font-size: 25px;
    	color: #FF9B55;
    }
    
    #ment{
    	width: 95%;
    	height: 70%;
    	margin: auto;
    	margin-top: 40px;
    }
    
    #realContents{
        width: 90%;
        height: 95%;
        margin: auto;
        margin-top: 3%;
    }
    
    #searchName{
        width: 100%;
        height: 15%;
    }
    
    #areaSearchName, #subAreaSearchName{
        width: 50%;
        height: 100%;
        float: left;
        
    }
    
    #subArea2SearchName, #fieldSearchName{
        display: none;
    }
    
    #selectMenu{
        width: 100%;
        height: 80%;
    }
    
    #mobileFieldSearchName{
    	border: 1px solid #FF9B55;
    	width: 100%;
    	height: 18%;
    	float: left;
    	text-align: center;
    }
    
    #area, #subArea{
        width: 50%;
        height: 43%;
        float: left;
        overflow-y: auto;
    }
    
    #field{
    	width: 100%;
        height: 46%;
        text-align: center;
        overflow-y: auto;
    }
    
    #subArea2{
        display: none;
    }
    
    .trainerBox{
        width: 100%;
        height: 47.5%;
        border: 2px solid #3c3e3a;
        border-radius: 6px;
    }
    
    .blank{
        width: 100%;
        height: 5%;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
}


    
    
    
    
    
    
    
    
    
    
    
    
    