/*----------------------------------------------*/
/*인코딩 문자셋*/
@charset "UTF-8";

/* 이거일경우 한글영어특수문자 다 적용된다.아래것보다 약간 얇다.*/
@font-face{
font-family:'NotoSansCJKkrBold';
src:url(../../fonts/NotoSansCJKkrBold.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../../fonts/NotoSansCJKkrBold.woff) format('woff');
}

/*각종 인터넷 브라우저에서 코드 작동이 가능하도록 하는 css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'NotoSansCJKkrBold';
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------*/
/*css 공통코드 작성부분*/
/* div전체 */
div{
    
    box-sizing: border-box;
    margin: 0;
   
}


/*----------------------------------------------*/
/* 반응형 웹 부분 */
/*데스크톱, 태블릿, 모바일 세 개의 사이즈로 나눠집니다.*/ 
/*전체적인 틀은 변하지 않고 화면의 사이즈가 줄어들에 따라 콘텐츠의 배치만 달라집니다.*/

/*데스크톱*/
@media screen and (min-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:170%;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height:5%;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 87%;
    }
    
    #searchBox{
        width: 100%;
        height: 15%;
    }
    #contents{
        width: 100%;
        height: 85%;
    }
    
    
    #realSearchBox{
        width: 70%;
        height: 90%;
        margin: auto;
        margin-top: 1%;
    }
    
    #realContents{
        width: 70%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 8%;
    }
    
         /*-------------추가 Desktop----------------------- */
         
     label {
      font-family:NotoSansCJKkrBold;
      font-size:90%;
    
     }
     
     .conditionId {
       font-size:70%;
       color:#147fe2;     
       float:left;
       box-sizing:border-box;
        margin-left:1%; 
        margin-right:14%;
        margin-top:2.5%;
     }
     
     
     .conditionPw {
       font-size:70%;
       color:#147fe2;
       float:left; 
       box-sizing:border-box; 
       margin-left:1%;
       margin-right:7%; 
       margin-top:0.8%;
     }
     
     
    .logo-center {
      display: block;
      margin-left:auto;
      margin-right:auto;
      width:24%;
    }
    
    .info-container {
     
      width: 500px;
      height:100%;
      margin:auto;
      text-align: left;
    }
    
    form {
    width:100%;}
 
    input[type=text] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;
     
    }
    
    input[type=text]:focus {
      background-color:#f9d3b3;
    }
    
     input[type=password] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;

    }
    
     input[type=password]:focus {
      background-color:#f9d3b3;
    }
    
     input[type=email] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;
     
    }
    
    input[type=email]:focus {
      background-color:#f9d3b3;
    }
    
  
    #sample6_postcode {
      width:40%;
    }
    
    #sample6_fpostcode {
      width:20%;
      height:36px;
    }
    
    #tel1 {
      width:30.9%;
      
    }
    
    #tel2 {
     width:30.9%;
    }
    
    #tel3 {
     width:30.8%;
    }

     .register-button {
        font-family:NotoSansCJKkrBold;
        background-color:#FF9B55;
        color:white;
        font-size:180%;
        padding:14px 20px;
        margin:8px 0;
        border:none;
        cursor:pointer;
        width:100%;
    }
    
    
    .doubleCheck {
     font-family:NotoSansCJKkrBold;
     display:inline-block;
     cursor:pointer;
     padding-bottom:0%;
     padding-left:2%;
     padding-right:2%;
     color:white;
     background-color:#FF9B55;
     border:none;
     font-size:90%;
     float:right;
     margin-top:0.5%;
    }
       
    .doubleCheck:hover {
       background-color:#353130;
    }
       
     .register-button:hover {
       background-color:#353130;
    }
    
    .sample6_fpostcode {
       font-family:NotoSansCJKkrBold;
       background-color:#FF9B55;
        color:white;
        font-size:80%;
        border:none;
        cursor:pointer;
        width:20%;
    }

    .sample6_fpostcode:hover {
      background-color:#353130;
    }

    #memberIdName {
     float:left; 
     box-sizing:border-box; 
     margin-left:1%;  
     margin-top:2%;

    }
    
    #memberPwName {
     float:left;
    }
    
    #memberSocialIdName {
     float:left;
    }
    
    #memberPhoneName {
      float:left;
    }

}

/*태블릿*/
@media screen and (min-width:640px) and (max-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:170%;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 5%;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 87%;
    }
    
    #searchBox{
        width: 100%;
        height: 15%;
    }
    
    #contents{
        width: 100%;
        height: 85%;
    }
    
    #realSearchBox{
        width: 70%;
        height: 90%;
        margin: auto;
        margin-top: 1%;
    }
    
    #realContents{
        width: 70%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 8%;
    }
    
    
         /*-------------추가 tablet----------------------- */
         
     label {
      font-family:NotoSansCJKkrBold;
      font-size:90%;
    
     }
     
     .conditionId {
       font-size:70%;
       color:#147fe2;     
       float:left;
       box-sizing:border-box;
        margin-left:1%; 
        margin-right:14%;
        margin-top:2.5%;
     }
     
     
     .conditionPw {
       font-size:70%;
       color:#147fe2;
       float:left; 
       box-sizing:border-box; 
       margin-left:1%;
       margin-right:7%; 
       margin-top:0.8%;
     }
     
     
    .logo-center {
      display: block;
      margin-left:auto;
      margin-right:auto;
      width:24%;
    }
    
    .info-container {
     
      width: 500px;
      height:100%;
      margin:auto;
      text-align: left;
    }
    
    form {
    width:100%;}
 
    input[type=text] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;
     
    }
    
    input[type=text]:focus {
      background-color:#f9d3b3;
    }
    
     input[type=password] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;

    }
    
     input[type=password]:focus {
      background-color:#f9d3b3;
    }
    
     input[type=email] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;
     
    }
    
    input[type=email]:focus {
      background-color:#f9d3b3;
    }
    
  
    #sample6_postcode {
      width:40%;
    }
    
    #sample6_fpostcode {
      width:20%;
      height:36px;
    }
    
    #tel1 {
      width:30.9%;
      
    }
    
    #tel2 {
     width:30.9%;
    }
    
    #tel3 {
     width:30.8%;
    }

     .register-button {
        font-family:NotoSansCJKkrBold;
        background-color:#FF9B55;
        color:white;
        font-size:180%;
        padding:14px 20px;
        margin:8px 0;
        border:none;
        cursor:pointer;
        width:100%;
    }
    
    
    .doubleCheck {
     font-family:NotoSansCJKkrBold;
     display:inline-block;
     cursor:pointer;
     padding-bottom:0%;
     padding-left:2%;
     padding-right:2%;
     color:white;
     background-color:#FF9B55;
     border:none;
     font-size:90%;
     float:right;
     margin-top:0.5%;
    }
       
    .doubleCheck:hover {
       background-color:#353130;
    }
       
     .register-button:hover {
       background-color:#353130;
    }
    
    .sample6_fpostcode {
       font-family:NotoSansCJKkrBold;
       background-color:#FF9B55;
        color:white;
        font-size:80%;
        border:none;
        cursor:pointer;
        width:20%;
    }

    .sample6_fpostcode:hover {
      background-color:#353130;
    }

    #memberIdName {
     float:left; 
     box-sizing:border-box; 
     margin-left:1%;  
     margin-top:2%;

    }
    
    #memberPwName {
     float:left;
    }
    
    #memberSocialIdName {
     float:left;
    }
    
    #memberPhoneName {
      float:left;
    }
    
}

/*모바일*/
@media screen and (max-width:640px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height: 170%;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 5%;
    }
    
    #mobileMenu{
        display:none;
        /* width: 100%;
        height: 15%; */
    }
    
    #logo{
        width: 25%;
        height: 100%%;
        float:left;
    }
    
    #searchBar{
        width: 100%;
        height: 20%;
    }
    
    #menu{
        width:50%;
        height:100%;
        float:left;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 87%;
    }
    
    #searchBox{
        width: 100%;
        height: 15%;
    }
    
    #contents{
        width: 100%;
        height: 85%;
    }
    
    #realSearchBox{
        width: 70%;
        height: 90%;
        margin: auto;
        margin-top: 1%;
    }
    
    #realContents{
        width: 70%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 8%;
    }
    
         /*-------------추가 mobile----------------------- */
         
     label {
      font-family:NotoSansCJKkrBold;
      font-size:90%;
    
     }
     
     .conditionId {
       font-size:70%;
       color:#147fe2;     
       float:left;
       box-sizing:border-box;
        margin-left:1%; 
        margin-right:14%;
        margin-top:2.5%;
     }
     
     
     .conditionPw {
       font-size:70%;
       color:#147fe2;
       float:left; 
       box-sizing:border-box; 
       margin-left:1%;
       margin-right:7%; 
       margin-top:0.8%;
     }
     
    
        .logo-center {
      display: block;
      margin-left:auto;
      margin-right:auto;
      width:100%;
    }
    
    .info-container {
     
      width: 500px;
      height:100%;
      margin:auto;
      text-align: left;
    }
    
    form {
    width:100%;}
 
    input[type=text] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;
     
    }
    
    input[type=text]:focus {
      background-color:#f9d3b3;
    }
    
     input[type=password] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;

    }
    
     input[type=password]:focus {
      background-color:#f9d3b3;
    }
    
     input[type=email] {
       width:100%;
       padding:10px 10px;
       margin:8px 0;
       box-sizing:border-box;
       border: 2px solid #FF9B55;
       border-radius:6px;
     
    }
    
    input[type=email]:focus {
      background-color:#f9d3b3;
    }
    
  
    #sample6_postcode {
      width:40%;
    }
    
    #sample6_fpostcode {
      width:20%;
      height:36px;
    }
    
    #tel1 {
      width:30.9%;
      
    }
    
    #tel2 {
     width:30.9%;
    }
    
    #tel3 {
     width:30.8%;
    }

     .register-button {
        font-family:NotoSansCJKkrBold;
        background-color:#FF9B55;
        color:white;
        font-size:180%;
        padding:14px 20px;
        margin:8px 0;
        border:none;
        cursor:pointer;
        width:100%;
    }
    
    
    .doubleCheck {
     font-family:NotoSansCJKkrBold;
     display:inline-block;
     cursor:pointer;
     padding-bottom:0%;
     padding-left:2%;
     padding-right:2%;
     color:white;
     background-color:#FF9B55;
     border:none;
     font-size:90%;
     float:right;
     margin-top:0.5%;
    }
       
    .doubleCheck:hover {
       background-color:#353130;
    }
       
     .register-button:hover {
       background-color:#353130;
    }
    
    .sample6_fpostcode {
       font-family:NotoSansCJKkrBold;
       background-color:#FF9B55;
        color:white;
        font-size:80%;
        border:none;
        cursor:pointer;
        width:20%;
    }

    .sample6_fpostcode:hover {
      background-color:#353130;
    }

    #memberIdName {
     float:left; 
     box-sizing:border-box; 
     margin-left:1%;  
     margin-top:2%;

    }
    
    #memberPwName {
     float:left;
    }
    
    #memberSocialIdName {
     float:left;
    }
    
    #memberPhoneName {
      float:left;
    }
    
}


    