@charset "UTF-8";
@font-face{
font-family:'NotoSans';
src:url(../../fonts/NotoSans-Bold.eot);/*익스플로러*/
src:url(../../fonts/NotoSans-Bold.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../../fonts/NotoSans-Bold.woff) format('woff');
}
html{
    font-family: 'NotoSans';
}
.totalSize{
	width:100%;
	heigth:100px;
}
.imgLine{
	width:100%;
	heigth:90px;
	float:left;
}
.tagStyle{
	width:100px;
	float:left;
}
.imgStyle{
	width:150px;
	heigth:90px;
	float:left;
}
 a:link { 
 	color: black; 
 	text-decoration: none;
 }
 a:visited { 
	color: black; 
	text-decoration: none;
}
 a:hover { 
 	color: #FF9B55; 
 	text-decoration: none; 
 	}
 	

