@charset "UTF-8";


@font-face{
font-family:'서울남산체';
src:url(../fonts/SeoulNamsan.eot);/*익스플로러*/
src:url(../fonts/SeoulNamsan.woff) format('woff');  /*크롬, 파이어폭스*/
src:local(※), url(../fonts/SeoulNamsan.woff) format('woff');
}



/*각종 인터넷 브라우저에서 코드 작동이 가능하도록 하는 css Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: '서울남산체';
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------------------------*/
/*css 공통코드 작성부분*/
/* div전체 */
    div{
        box-sizing: border-box;
        margin: 0;
    }
    #titleFrame{
        width: 100%;
        height: 8%;
        line-height: 2;
        background-color: #FF9B55;
        border-bottom: 1px solid #D8D8D8;
    }
    #title{
        text-align: left;
        color: white;
        float: left;
        text-indent: 1em;
        font-weight: bold;
        font-size: 18px;
    }  
    #otherInformationFrame{
        width: 100%;
        height: 8%;
        background-color: #F2F2F2;
    }
    #writerView{
        width: 65%;
        height: 100%;
        float: left;
        line-height: 2.2;
        border-bottom: 1px solid #D8D8D8;
    }
    #writerBundle{
        text-indent: 1em;
    }
    #dateCreatedView{
        width: 35%;
        height: 100%;
        float: left;
        line-height: 2.2;
    }
    #mainContentsFrame{
        width: 100%;
        height: 53%;
        line-height: 2;
        border-bottom: 1px solid #D8D8D8;
    }
    #buttonsFrame{
        width: 100%;
        height: 6%;
        text-align-last: center;
        background-color: #F2F2F2;
    }
    #listButton{
        width: 10%;
        height: 100%;
        float:right;
    }
    #writeCommentFrame{
        width: 100%;
        height: 10%;
        background-color: #F2F2F2;
    }
    #writeCommentTextView{
        width: 80%;
        height: 100%;
        float: left;
        border-bottom: 1px solid #D8D8D8;
    }
    #writeCommentText{
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
    #CommentTextarea{
    	box-sizing: border-box;
        width: 100%;
        height: 100%;
        border: 1px solid black;
    }
    #writeCommentBtnView{
        width: 20%;
        height: 100%;
        float: left; 
        line-height: 3;
        text-align-last: center;
    }
    #writeCommentBtn{
        width: 65%;
        height: 65%;
    }
    #commentFrame{
        width: 100%;
        height: 15%;
        background-color: #FF9B55;
    }
    #commentWriterView{
        width: 25%;
        height: 100%;
        float: left;
        line-height: 2;
    }
    #commentWriter{
        float: left;
        text-indent: 0.5em;
    }
    #bundleComment{
        width: 75%;
        height: 100%;
        float: left;
        background-color: #F8ECE0;
    }
    #commentContentsView{
        width: 100%;
        height: 65%;
        line-height: 1.5;
        border-bottom: 1px solid #D8D8D8;
    }
    #commentContents{
        float: left;
        text-indent: 1em;
    }
    #commentDateCreatedView{
        width: 100%;
        height: 35%;
        line-height: 2;
    }
    #commentDateCreated{
        float: left;
        text-indent: 1em;
        font-size: 12px;
    }
    #mainContents{
        float: left;
        text-indent: 1em;
    }




/*----------------------------------------------*/
/* 반응형 웹 부분 */
/*데스크톱, 태블릿, 모바일 세 개의 사이즈로 나눠집니다.*/ 
/*전체적인 틀은 변하지 않고 화면의 사이즈가 줄어들에 따라 콘텐츠의 배치만 달라집니다.*/

/*데스크톱*/
@media screen and (min-width:1024px){
    
    #wrapper{
        position: absolute;
        width:100%;
        height:700px;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height:7%;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 85%;
    }
    
    #contents{
        width: 100%;
        height: 100%;
    }
      
    #realContents{
        width: 70%;
        height: 80%;
        margin: auto;
        margin-top: 80px;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 8%;
    }

}

/*태블릿*/
@media screen and (min-width:640px) and (max-width:1024px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:100%;
        height:700px;    
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 10%;
    }
    
    #mobileMenu{
        display: none;
    }
    
    #logo{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    #searchBar{
        width: 50%;
        height: 100%;
        float: left;
    }
    
    #menu{
        width: 25%;
        height: 100%;
        float: left;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 80%;
    }
     
    #contents{
        width: 100%;
        height: 100%;
    }
    
    #realContents{
        width: 80%;
        height: 90%;
        margin: auto;
        margin-top: 2.5%;
        border: 1px solid black;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
    
}

/*모바일*/
@media screen and (max-width:640px){
    
    /*div전체*/
    #wrapper{
        position: absolute;
        width:630px;
        height:800px;   
    }
    
    /*top부분*/
    #top{
        width: 100%;
        height: 25%;
    }
    
    #mobileMenu{
        width: 100%;
        height: 15%;
    }
    
    #logo{
        width: 100%;
        height: 65%;
    }
    
    #searchBar{
        width: 100%;
        height: 20%;
    }
    
    #menu{
        display: none;
    }
    
    /*middle부분*/
    #middle{
        width: 100%;
        height: 65%;
    }
    
    #contents{
        width: 100%;
        height: 100%;
    }
    
    #realContents{
        width: 90%;
        height: 95%;
        margin: auto;
        margin-top: 3%;
        border: 1px solid black;
    }
    
    /*bottom*/
    #bottom{
        width: 100%;
        height: 10%;
    }
}


    